<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698657494322-ten5rfgbatr12u3m7q2f5a23r0t9ej3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698657494322-ten5rfgbatr12u3m7q2f5a23r0t9ej3v</string>
	<key>API_KEY</key>
	<string>AIzaSyDsEk1-QrvdOgDRcARXpkzCZQTf_CIxSBI</string>
	<key>GCM_SENDER_ID</key>
	<string>698657494322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.staypos.StayPositive</string>
	<key>PROJECT_ID</key>
	<string>positifeedy-2020a</string>
	<key>STORAGE_BUCKET</key>
	<string>positifeedy-2020a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698657494322:ios:8dc779c4923b8ba270f32b</string>
	<key>DATABASE_URL</key>
	<string>https://positifeedy-2020a.firebaseio.com</string>
</dict>
</plist>