<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>positifeedy.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
				<key>dateExpires</key>
				<string>25/09/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>EMPageViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FTPopOverMenu_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyStoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>VideoBackground.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B85E176984A2E26200713433C62617FCE68EE6CF</string>
						<key>dateExpires</key>
						<string>25/09/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DTRPW5TVH6</string>
						<key>name</key>
						<string>Irving Lopez</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>DTRPW5TVH6.com.staypos.StayPositive</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:positifeedy.page.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>DTRPW5TVH6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>positifeedy.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ce5feb6e-f28a-4bfd-90ca-d51b86d17a6b</string>
				<key>name</key>
				<string>staypos_adhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>DTRPW5TVH6</string>
				<key>name</key>
				<string>Irving Lopez</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
